asttokens==2.2.1
attrs==23.1.0
backcall==0.2.0
beautifulsoup4==4.12.2
blinker==1.6.2
Bottleneck @ file:///opt/conda/conda-bld/bottleneck_1657175564434/work
branca==0.6.0
cached-property==1.5.2
cachetools==5.3.1
certifi==2024.7.4
charset-normalizer==3.2.0
click==8.1.6
cloudscraper==1.2.71
comm==0.1.3
config==0.5.1
contourpy==1.1.0
cycler==0.11.0
debugpy==1.6.7
decorator==5.1.1
docopt==0.6.2
exceptiongroup==1.1.2
executing==1.2.0
fitfile==1.1.3
Flask==2.3.2
fonttools==4.43.0
garminconnect==0.1.38
garmindb==3.3.0
google-api-core==2.11.1
google-api-python-client==2.95.0
google-auth==2.22.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
googleapis-common-protos==1.59.1
greenlet==2.0.2
h11==0.14.0
httplib2==0.22.0
idbutils==1.0.7
idna==3.7
ipykernel==6.21.3
ipyleaflet==0.17.3
ipython==8.14.0
ipywidgets==8.0.7
isodate @ file:///croot/isodate_1687530046428/work
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.4
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyterlab-widgets==3.0.8
kiwisolver==1.4.4
MarkupSafe==2.1.3
matplotlib==3.7.2
matplotlib-inline==0.1.6
mkl-fft==1.3.6
mkl-random @ file:///work/mkl/mkl_random_1682950433854/work
mkl-service==2.4.0
nest-asyncio==1.5.7
numexpr @ file:///croot/numexpr_1683221822650/work
numpy @ file:///croot/numpy_and_numpy_base_1687466208449/work
oauthlib==3.2.2
outcome==1.2.0
packaging==23.1
pandas==1.5.3
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.3.0
pipreqs==0.4.13
platformdirs==3.9.1
polar-accesslink==0.0.5
prompt-toolkit==3.0.39
protobuf==4.23.4
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
Pygments==2.15.1
pyparsing==3.0.9
PySocks==1.7.1
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz @ file:///croot/pytz_1671697431263/work
pyvesync==2.1.8
pyzmq==25.1.0
requests==2.32.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rsa==4.9
selenium==4.10.0
six @ file:///tmp/build/80754af9/six_1644875935023/work
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4.1
SQLAlchemy==2.0.19
stack-data==0.6.2
tcxfile==1.0.4
tornado==6.4.2
tqdm==4.66.3
traitlets==5.9.0
traittypes==0.2.1
trio==0.22.2
trio-websocket==0.10.3
typing_extensions==4.7.1
tzdata==2023.3
uritemplate==4.1.1
urllib3==1.26.19
wcwidth==0.2.6
Werkzeug==3.0.6
widgetsnbextension==4.0.8
wsproto==1.2.0
xyzservices==2023.7.0
yarg==0.1.9
