beautifulsoup4==4.12.2
Flask==2.3.2
google_api_python_client==2.95.0
google_auth_oauthlib==1.0.0
isodate==0.6.1
pandas==1.5.3
polar_accesslink==0.0.5
protobuf==4.23.4
pyvesync==2.1.8
Requests==2.31.0
selenium==4.10.0
google~=3.0.0